// Modular Showcase styling
.modular {

    // special case for header
    &.header-image {

        #header {
            background-color: rgba(255,255,255,0);
            box-shadow: none;

            #logo h3 {
                color: $header-text;
            }
            #navbar a {
                color: $header-text;
            }
        }
    }

    .showcase {

        padding-top: 4rem;
        padding-bottom: 4rem;
        background-color: #666;
        background-size: cover;
        background-position: center;

        // $startColor: rgba(255,255,0,.5);
        // $endColor: rgba(0,255,0,.5);
        // background-color: #444; // fallback
        // // background: url('https://media.npr.org/assets/img/2017/11/16/trh_simple_solution_artwork_wide-64cd61f094c4c439e8da518fdb5976ff3ab57365-s800-c85.jpg') center center no-repeat; // fallback

        // background: url('https://media.npr.org/assets/img/2017/11/16/trh_simple_solution_artwork_wide-64cd61f094c4c439e8da518fdb5976ff3ab57365-s800-c85.jpg') center center no-repeat, -moz-linear-gradient(top, $startColor, $endColor); // FF 3.6+
        // background: url('https://media.npr.org/assets/img/2017/11/16/trh_simple_solution_artwork_wide-64cd61f094c4c439e8da518fdb5976ff3ab57365-s800-c85.jpg') center center no-repeat, -webkit-gradient(linear, 0 0, 0 100%, from($startColor), to($endColor)); // Safari 4+, Chrome 2+
        // background: url('https://media.npr.org/assets/img/2017/11/16/trh_simple_solution_artwork_wide-64cd61f094c4c439e8da518fdb5976ff3ab57365-s800-c85.jpg') center center no-repeat, -webkit-linear-gradient(top, $startColor, $endColor); // Safari 5.1+, Chrome 10+
        // background: url('https://media.npr.org/assets/img/2017/11/16/trh_simple_solution_artwork_wide-64cd61f094c4c439e8da518fdb5976ff3ab57365-s800-c85.jpg') center center no-repeat, -o-linear-gradient(top, $startColor, $endColor); // Opera 11.10
        // background: url('https://media.npr.org/assets/img/2017/11/16/trh_simple_solution_artwork_wide-64cd61f094c4c439e8da518fdb5976ff3ab57365-s800-c85.jpg') center center no-repeat, linear-gradient(to bottom, $startColor, $endColor); // Standard, IE10

        // background-image: url("https://media.npr.org/assets/img/2017/11/16/trh_simple_solution_artwork_wide-64cd61f094c4c439e8da518fdb5976ff3ab57365-s800-c85.jpg"), linear-gradient(#eb01a5, #d13531);
        // background-image: url("https://media.npr.org/assets/img/2017/11/16/trh_simple_solution_artwork_wide-64cd61f094c4c439e8da518fdb5976ff3ab57365-s800-c85.jpg");
        .bg-img {
            position: relative;
            width: 100%;
            height: 100%;
            background: url('http://unsplash.it/1200x800') center center no-repeat;
            background-size: cover;
            
            &:before {
              content: '';
              position: absolute;
              top: 0;
              right: 0;
              bottom: 0;
              left: 0;
              background-image: linear-gradient(to bottom right,#002f4b,#dc4225);
              opacity: .6; 
            }
          }

        text-align: center;
        color: $header-text;
        h1 {
            font-size: 4rem;
            margin-top: 0;
            @include breakpoint(tablet-range) {
                font-size: 3rem;
            }
            @include breakpoint(mobile-only) {
                font-size: 2.5rem;
                line-height: 1.2;
                margin-bottom: 2.5rem;
            }
        }

        .button {
            @extend .default-animation;
            color: $header-text;
            padding: 0.7rem 2rem;
            margin-top: 2rem;
            background: rgba(255,255,255,0);
            border: 1px solid $header-text;
            border-radius: $border-radius;
            box-shadow: none;
            font-size: $core-font-size + 0.3rem;

            &:hover {
                background: rgba(255,255,255,0.2);
            }
        }
    }

}
